* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    font-family: sans-serif;
}

.container {
    min-width: 390px;
    max-width: 1400px;
    margin: auto;
}



.header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 70px 55px;
}

.header>h1 {
    font-size: 74px;
}


h2 {

    color: rgb(129, 133, 143);
}


.switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 45px;
    margin-right: 60px;


    button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: rgb(129, 133, 143);
        padding: 8px 12px;
        font-size: 25px;
    }



}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 65px;
    flex-wrap: wrap;
}


.title {
    align-self: flex-start;
    font-size: 26px;

}

.subtitle {

    font-size: 16px;
    color: rgb(131, 140, 149)
}

.card-price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-self: center;
}


.price {

    font-size: 65px;

}



.discount {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-self: center;
    margin: 35px;

    span {

        border: 2px solid rgb(227, 227, 227);
        background-color: rgb(227, 227, 227);
        border-radius: 15%;
        padding: 6px;
        color: black;
        font-weight: 600;
        margin-left: 2px;
    }
}



.CTA {
    display: flex;
    justify-content: center;
    background-color: #6200ff;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 18px 0;
    margin: 30px 0;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
}


.plan-list {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 45px;
    list-style-type: none;
}



/* cards css */

.basic-card,
.ultimate-card {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 24px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.professional-card {
    color: white;
    background-color: rgb(101, 0, 255);
    border: 1px solid #e5e7eb;
    border-radius: 24px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    .subtitle {

        color: white;
    }

    .CTA-professional {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        color: rgb(98, 0, 255);
        border: none;
        width: 100%;
        padding: 18px 0;
        margin: 30px 0;
        border-radius: 16px;
        font-size: 18px;
        font-weight: 700;
    }
}


.ultimate-card {
    display: flex;
    flex-grow: 1;

    .plan-list {
        display: flex;
        align-items: center;
    }

}